@model Enfermo
<h1>Detalles enfermo</h1>

<ul class="list-group">
    <li class="list-group-item">Inscripcion: @Model.Inscripcion</li>
    <li class="list-group-item">Apellidos: @Model.Apellido</li>
    <li class="list-group-item">Direccion: @Model.Direccion</li>
    <li class="list-group-item">Fecha nacimiento: @Model.FechaNacimiento</li>
    <li class="list-group-item">Sexo: @Model.Sexo</li>
    <li class="list-group-item">Numero seguridad social: @Model.NumeroSeguridad</li>
</ul>